/* assets/css/main.css */
:root {
  /* Colors */
  /*--bulma-primary: #3273dc;
  --bulma-primary-h: 217deg;
  --bulma-primary-s: 71%;
  --bulma-primary-l: 53%; */

  /* Rounded Corners */
  /*--bulma-radius: 6px;
  --bulma-radius-large: 10px;
  --bulma-radius-small: 3px;
  --bulma-panel-radius: 0px; */

  /* Typography */
  /* --bulma-family-sans-serif: 'Inter', sans-serif; */
}